<div class="container-fluid">

    <div class="row audio">

        <div class="col-sm-4">
            <div class="container audio-box" id="eclectic">
        	       <h3>Eclectic Acoustic:</h3>
        		<audio controls>
        			<source src="../band-app/audio/AcousticGuitar1.mp3" type="audio/mpeg">
        			Your browser does not support the audio element.
        		</audio>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="container audio-box" id="autsunset">
                   <h3>Autumn Sunset:</h3>
                <audio controls>
                    <source src="../band-app/audio/AutumnSunset.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="container audio-box" id="coldmorn">
                   <h3>Cold Morning:</h3>
                <audio controls>
                    <source src="../band-app/audio/ColdMorning.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="container audio-box" id="darkheart">
                   <h3>A Darker Heart:</h3>
                <audio controls>
                    <source src="../band-app/audio/ADarkerHeart.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="container audio-box" id="serenity">
                   <h3>Serenity:</h3>
                <audio controls>
                    <source src="../band-app/audio/serenity.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-sm-12 supporting-4">
               <div class="container">
                 <h1>
                   Download the tracks now
                 </h1>
                 <a href="#"><img src="https://s3.amazonaws.com/codecademy-content/projects/bass/app-store.png"></a>
                 <a href="#"><img src="https://s3.amazonaws.com/codecademy-content/projects/bass/google-play.png"></a>
               </div>
        </div>
    </div>
</div>