<div class="container-fluid">

<div class="jumbotron">
<h1>The Liz Seaver Audio Collection</h1>
</div>

<div class="container">

    <div class="row">

        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="container audio-box" id="eclectic">
        	       <h3>Eclectic Acoustic:</h3>
        		<audio controls>
        			<source src="../band-app/audio/AcousticGuitar1.mp3" type="audio/mpeg">
        			Your browser does not support the audio element.
        		</audio>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="container audio-box" id="autsunset">
                   <h3>Autumn Sunset:</h3>
                <audio controls>
                    <source src="../band-app/audio/AutumnSunset.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="container audio-box" id="coldmorn">
                   <h3>Cold Morning:</h3>
                <audio controls>
                    <source src="../band-app/audio/ColdMorning.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="container audio-box" id="darkheart">
                   <h3>A Darker Heart:</h3>
                <audio controls>
                    <source src="../band-app/audio/ADarkerHeart.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="container audio-box" id="serenity">
                   <h3>Serenity:</h3>
                <audio controls>
                    <source src="../band-app/audio/serenity.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="container audio-box" id="RadioRock">
                   <h3>Radio Rock:</h3>
                <audio controls>
                    <source src="../band-app/audio/RadioRock.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="container audio-box" id="BackToTheWood">
                   <h3>Back To The Wood:</h3>
                <audio controls>
                    <source src="../band-app/audio/BackToTheWood.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="container audio-box" id="AmazingGrace">
                   <h3>Amazing Grace:</h3>
                <audio controls>
                    <source src="../band-app/audio/AmazingGrace.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>  

        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="container audio-box" id="SmellsLikeGrunge">
                   <h3>Smells Like Grunge:</h3>
                <audio controls>
                    <source src="../band-app/audio/SmellsLikeGrunge.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-sm-12 supporting-4">
               <div class="container">
                 <h1>
                   Download the tracks now
                 </h1>
                 <a href="https://itunes.apple.com/ie/artist/liz-seaver/id396038524" target="_blank"><img src="../band-app/img/app-store.png"></a>
                 <a href="https://play.google.com/store" target="_blank"><img src="../band-app/img/google-play.png"></a>
               </div>
        </div>
    </div>
</div>