<div class="container">
    <div class="row audio">
        <div class="col-sm-3">
	       <h3>Ecletic Acoustic:</h3>
		<audio controls>
			<source src="band-app/audio/AcousticGuitar1.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>
        </div>
        <div class="col-sm-3">
           <h3>Autumn Sunset:</h3>
        </div>
        <div class="col-sm-3">
        <audio controls>
            <source src="../audio/AutumnSunset.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        </div>
        <div class="col-sm-3">
           <h3>Cold Morning:</h3>
        </div>
        <div class="col-sm-3">
        <audio controls>
            <source src="../audio/ColdMorning.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        </div>
        <div class="col-sm-3">
           <h3>A Darker Heart:</h3>
        </div>
        <div class="col-sm-3">
        <audio controls>
            <source src="../audio/ADarkerHeart.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        </div>
    </div>
    <div class="row audio">
        <div class="col-sm-3">
           <h3>What a Surprise:</h3>
        </div>
        <div class="col-sm-3">
        <audio controls>
            <source src="http://lizseaver.com/music/discography/what_a_suprise.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        </div>
        <div class="col-sm-3">
           <h3>What a Surprise:</h3>
        </div>
        <div class="col-sm-3">
        <audio controls>
            <source src="http://lizseaver.com/music/discography/what_a_suprise.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        </div>
        <div class="col-sm-3">
           <h3>What a Surprise:</h3>
        </div>
        <div class="col-sm-3">
        <audio controls>
            <source src="http://lizseaver.com/music/discography/what_a_suprise.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        </div>
        <div class="col-sm-3">
           <h3>What a Surprise:</h3>
        </div>
        <div class="col-sm-3">
        <audio controls>
            <source src="http://lizseaver.com/music/discography/what_a_suprise.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        </div>
    </div>
</div>
<!-- Would have to have this for every track to have a share button:
</div>
<div class="container">
	<div class="row mobile-social-share">
    		<div class="col-md-9">
                <h3>Share this content</h3>
            </div>
    <div class="col-sm-6">
            <div id="socialHolder" class="col-md-3">
        		<div id="socialShare" class="btn-group share-group">
                    <a data-toggle="dropdown" class="btn btn-info">
                         <i class="fa fa-share-alt fa-inverse"></i>
                    </a>
    				<button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
    					<span class="caret"></span>
    				</button>
    				<ul class="dropdown-menu">
        				<li>
    					    <a data-original-title="Twitter" rel="tooltip"  href="#" class="btn btn-twitter" data-placement="left">
								<i class="fa fa-twitter"></i>
							</a>
    					</li>
    					<li>
    						<a data-original-title="Facebook" rel="tooltip"  href="#" class="btn btn-facebook" data-placement="left">
								<i class="fa fa-facebook"></i>
							</a>
    					</li>					
    					<li>
    						<a data-original-title="Google+" rel="tooltip"  href="#" class="btn btn-google" data-placement="left">
								<i class="fa fa-google-plus"></i>
							</a>
    					</li>
    				    <li>
    						<a data-original-title="LinkedIn" rel="tooltip"  href="#" class="btn btn-linkedin" data-placement="left">
								<i class="fa fa-linkedin"></i>
							</a>
    					</li>
    					<li>
    						<a data-original-title="Pinterest" rel="tooltip"  class="btn btn-pinterest" data-placement="left">
								<i class="fa fa-pinterest"></i>
							</a>
    					</li>
                        <li>
    						<a  data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
								<i class="fa fa-envelope"></i>
							</a>
    					</li>
                    </ul>
    			</div>
            </div>
        </div>
	</div>-->
<div class="supporting-4">
       <div class="container">
         <h1>
           Download the tracks now
         </h1>
         <img src="https://s3.amazonaws.com/codecademy-content/projects/bass/app-store.png">
         <img src="https://s3.amazonaws.com/codecademy-content/projects/bass/google-play.png">
       </div>
</div>