<div class="container">
	<div class="row">
    	<div class="col-sm-4"> 
		    <h5>Contact liz at:</h5>
		    <p>Email: liz@lizseaver.com</p>
		    <p>Booking Agent: <a href="http://www.amamusicagency.ie/emerging/liz-seaver/" target="_blank">AMA Music</a></p>
		    <p>Tel: +353 1 201 3660</p>
		</div>
		<div class="col-sm-4">
  		    <h5>General Info:</h5>
	        <p>Genre: Acoustic / Folk Rock / Pop</p>
	        <p>Location: Dublin, IE</p>
	        <p>Record Label: Unsigned!</p>
		</div>
  	</div>
</div>