<div class="container">
	<div class="bio1">
		<div class="row">
			<div class="col-sm-4">
     			<img id="LizPic1" src="http://lizseaver.com/images/About_page.jpg" title="About Liz" alt="About Liz">
     		</div>
 				<div class="col-sm-8">
 					<h3>Bio</h3>
    				<p>Liz Seaver is a 29 year-old singer-songwriter from Skerries, Co.Dublin. Liz was most recently shortlisted for the 2016 RTE Breakthrough Bursary Award and performed in a live concert on John Creedon's show.  Liz has  played The Castlepalooza Festival in Tullamore on RTE Radio 1's The John Murray Stage, where he picked twelve acts to play live from over 700 applicants.</p>
    				<p>After starting to write songs and play guitar at age 15, it wasn't  long before her talent was noticed locally and she played support to Damien Dempsey near her home in the Millbank Theatre at still just 16 years old.</p>
    				<p>Since then, over the years Liz has played most major venues in Dublin and beyond, in cities such as Paris and Hamburg whilst headlining her own shows back in Dublin in venues such as The Sugar Club and Whelan's.</p>
    			</div>
    		</div>

    <div class="col-lg-12">
    		<p>Liz released her first studio album <i>'Til The Day Fades In</i> at the age of 18, shortly after completing her Leaving Certificate in 2005. While studying for her degree in NCAD, Dublin, Liz continued to write, record and develop her own style of music, drawing on the influences of such artists as PJ Harvey, KT Tunstall and Gemma Hayes to create her own unique blend of acoustic alternative folk-rock, as well as heartfelt piano music.  With the release of Turbulent Bliss, Liz aims to become a recognised female singer-songwriter similar to the that of Sheryl Crow and continue to entertain audiences everywhere with her uplifting vocals and exciting live shows.</p>
   	</div>
   	</div>

    <br><br><br><br>
    <u>Quotes:</u>
    <br><br>
    <u>...on "Turbulent Bliss"</u>
    <br><br>
    <p><i>'The entire album displays a sureness of touch, with a full band fleshing out Seaver's piano and acoustic guitar driven compositions.'</i>
    <br><i>'Seaver's voice is an impressive instrument.'</i>
    <br>Hotpress
    <br><br><br>
    <p><i>'..one to keep and eye and ear out for... if it doesn't gain her the kind of attention she deserves then life is indeed unfair.'<i>
    <br>The Ticket, The Irish Times
    <br><br><br>
    <u>...on "til the day fades in..."</u>
    <br><br>
    <p><i>'"What a Surprise" pretty sums up the reaction of this reporter to the successive tracks in what is certainly no bedroom production... Surprisingly sensational debut from local teen'<i>
    <br>Donncha Mac Raghnaill, The Fingal Independent
    <br><br><br>
    <p><i>'With a catchy, memorable element to her melodies, along with that striking voice and endearingly modest stage persona...this is one girl whose more intimate gigs we should treasure before she hits the big time.'</i>
    <br>Louise Roseingrave, The North County Leader
    <br><br><br>
    </font>
  </tr>
 
  
  
</table>
</body>