<div class="row">
<div class="col-sm-3">
    <h3>TOUR DATES</h3>
    <p>Remember to book your tickets!</p>
</div>
<div class="col-sm-3">
    <ul class="list-group">
  <li class="list-group-item">5th April 2017 - London <span class="label label-danger">Sold Out!</span></li>
  <li class="list-group-item">22nd May 2017 - Dublin    <span class="label label-danger">Sold Out!</span></li> 
  <li class="list-group-item">19th June 2017 - Belfast <span class="label label-danger">Sold Out!</span></li> 
</ul>
</div>
  </div>

<div class="row text-center">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="img/paris.jpg" alt="Paris">
      <p><strong>Paris</strong></p>
      <p>Fri. 27 July 2017</p>
      <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="img/newyork.jpg" alt="New York">
      <p><strong>New York</strong></p>
      <p>Sat. 28 August 2017</p>
      <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="img/sanfran.jpg" alt="San Francisco">
      <p><strong>San Francisco</strong></p>
      <p>Sun. 29 September 2017</p>
      <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-lock"></span> Tickets</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, €23 per person</label>
            <input type="number" class="form-control" id="psw" placeholder="How many?">
          </div>
          <div class="form-group">
            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
            <input type="text" class="form-control" id="usrname" placeholder="Enter email">
          </div>
          <button type="submit" class="btn btn-block">Pay 
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
        <p>Need <a href="#">help?</a></p>
      </div>
    </div>
  </div>
</div>